
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd, ul {
  margin: 0;
}
html {
    scroll-behavior: smooth;
  }
  /* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
img {
  vertical-align: middle;
}
/* General STYLE */
:root {

    --color1:hsl(0, 0%, 100%);
    --color2:hsl(238, 29%, 16%);
    --color3:hsl(14, 88%, 65%);
    --color4: hsl(273, 75%, 66%);
    --color5:hsl(240, 73%, 65%);
    --gradient1:linear-gradient(0deg, hsl(240, 73%, 65%), hsl(273, 75%, 66%));
    --sansserif: 'Kumbh Sans', sans-serif;
}
h1, h2, h3, ul {
  padding:0;
}
body {
    text-rendering: optimizeSpeed;
    text-align:left; 
    font-family: var(--sansserif);
    background:var(--gradient1);
    background-size: contain;
    padding:0rem 1.5rem 1rem 1.5rem;
    min-height: 100vh; 
    display:flex; flex-direction:column; 
}

main {
    max-width:20.438rem;
    background: var(--color1) url(images/bg-pattern-mobile.svg) no-repeat center top;
    margin: auto;
    margin-top:8.875rem;
    padding: 1.62rem 1.62rem 3rem 1.62rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 2rem 0.3rem hsla(0, 0%, 0%, 0.1);
    position:relative;
    display:grid;
}
.image-holder {
  width:14.813rem;
  height:13.313rem;
  background: url(images/illustration-woman-online-mobile.svg) no-repeat center;
  margin-left: auto;
  margin-right: auto;
}
.box-image {
  display:none;
}
h1 {
  font-size:2.2rem;
  line-height:2rem;
  font-weight:700;
  color:var(--color2);
  text-align:center;
  margin-bottom:1rem;
}
h1 img {
  max-height:1.6rem;
  width:auto;
  margin:0 1.4rem 0.3rem 0;
}
/* .accordion {
  padding: 0 1.438rem 0 0;
} */
.accordion-body {
  display: grid; 
  grid-template-rows: 0fr;
  transition: 250ms grid-template-rows ease;
}
.accordion-body-active {
  grid-template-rows: 1fr;
}
.accordion-body > div {
  overflow: hidden;
}
.accordion-item {
  border-bottom: 1px solid #e8e8e8;
  cursor: pointer;
}
.accordion-title {
  padding: 1rem 0 1rem 0;
  display:grid;
  grid-template-columns: 87% 3%;
  gap:1.5rem;
}
.arrow {
  width:0.688rem;
  height:0.5rem;
  margin-top:0.3rem;
  background:url("images/icon-arrow-down.svg") center no-repeat;
  transition: 250ms ease;
}
.active .arrow{
  transform: rotate(-180deg);
}
.accordion-title h2 {
  font-size:0.81rem;
  font-weight:400;
  color:var(--color2);
}
.accordion-title:hover h2 {
  color:var(--color3);
}
.active h2 {
  font-weight:700 !important;
 }
.accordion-body p {
font-size:0.81rem;
font-weight:400;
line-height:1.3rem;
color:var(--color2);
padding:0 0 1rem 0;
}
footer {
  text-align: center;
  font-size:0.7rem;
}
@media screen and (max-width:45rem){
  main {
    display:grid;
    grid-template-rows:7rem auto;
  }
  .image-holder, .accordion {
    grid-column: 1 / 2;
  }
  .image-holder {
    grid-row: 1 / 3;
  }
  .accordion {
    grid-row: 2 / -1;
  }
  .image-holder{
    position:relative;
    top:-9.4rem;
  }
}

@media screen and (min-width:45rem) {

  main {
    max-width:57.5rem;
    padding:0 5.938rem 0 0;
    margin:auto;
    margin-top: 8.025rem;
    grid-template-columns: 1fr 1fr;
    gap:5.3rem;
    background: var(--color1) url(images/bg-pattern-desktop.svg) no-repeat top left;
    background-position: -36.1rem -18.5rem;
  }
  h1 {
    font-size:2rem;
    line-height:3.7rem;
    text-align:left;
    margin-bottom:0.8rem;
  }
  h1 img {
    max-height:2.5rem;
    margin:0 1.6rem 0.7rem 0;
  }
  .image-holder {
    width:24.25rem;
    /* height:auto; */
    height:22.5rem;
    background: url(images/illustration-woman-online-desktop.svg) no-repeat center right;
    position:relative;
    margin-left: 0;
    margin-top:4.438rem;
  }
  .box-image {
    width:10rem;
    height:11.4rem;
    background: url(images/illustration-box-desktop.svg) no-repeat center;
    /* margin-left:-4.8rem; */
    margin: 8.4rem 0 0 -4.8rem;
    position:relative;
    display:block;
  }
  .accordion {
    margin-top:3.5rem;
    margin-bottom: 5.5rem;
  }
  .accordion-item{
    padding-bottom:0.3rem;
  }
  .accordion-title {
    padding: 0.85rem 0 0.75rem 0;
    grid-template-columns: 86.5% 3%;
  }
  .accordion-title h2 {
    font-size:0.9rem;
  }
  .accordion-body p {
    font-size:0.85rem;
    line-height:1.1rem;
  }
}
